@page "/terms-of-service"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager Navigation

<PageTitle>Terms of Service</PageTitle>

<h3>Terms and Conditions for Data Storage</h3>
    <p>
        By using this service, you agree to the following terms related to the processing of personal data for delivery purposes.
    </p>

    <div>
        <h4>Personal Data Collected</h4>
        <p>
            In order to process your order and deliver the products to you, we collect the following personal data:
        </p>
        <ul>
            <li><strong>First Name</strong> - To identify you as the recipient of the order.</li>
            <li><strong>Last Name</strong> - To identify you as the recipient of the order.</li>
            <li><strong>Address</strong> - To facilitate delivery of the product(s) to your location.</li>
            <li><strong>Postal Code</strong> - For accurate delivery address identification.</li>
            <li><strong>Phone Number</strong> - To contact you regarding your order.</li>
            <li><strong>Card Number</strong> - For processing payment transactions.</li>
        </ul>

        <h4>Purpose of Data Processing</h4>
        <p>
            The data we collect will be used solely for the purpose of processing and delivering your order.
        </p>

        <h4>Data Retention</h4>
        <p>
            We will retain your data only for as long as necessary to fulfill your order and comply with legal requirements.
        </p>

        <h4>Your Rights</h4>
        <p>
            As per the General Data Protection Regulation (GDPR), you have the right to:
        </p>
        <ul>
            <li>Access the personal data we hold about you.</li>
            <li>Request correction or deletion of your personal data.</li>
            <li>Withdraw your consent at any time, which will not affect the lawfulness of processing based on consent before its withdrawal.</li>
            <li>Object to the processing of your personal data under certain circumstances.</li>
        </ul>

        <h4>Consent for Data Processing</h4>
        <p>
            By continuing on the website, you consent to the collection and processing of your personal data as described above.
        </p>
        </div>
