@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Welcome to <span class="text-danger">Welcome to the Store</span></h2>
    </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <AuthorizeView>
                        <NotAuthorized>
                            <span>You are not logged in. Please <a class="fw-bolder" href="/login">click here</a> to login.</span>
                            <span>Or click here to register <a class="fw-bolder" href="/register">click here</a> to register.</span>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
        </div>
    </div>
</div>