@page "/my-products"
@using DataEntities
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Store.Services
@inject Store.Services.AuthenticationService AuthenticationService
@inject IConfiguration Configuration
@attribute [StreamRendering(true)]
@inject NavigationManager NavigationManager
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@using System.Text.Json
@using Store.WebAppComponents
@inject ProductService CatalogService

<h1>My Products</h1>

<p>Here are some of our amazing products that you want to sell</p>

@if (products.Count == 0)

    {
        <p><em>You do not have any products that you want to sell</em></p>
        <a href="/add-product">Click here to add a product to the store</a>
    }

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td><img height="80" width="80" src="https://raw.githubusercontent.com/MicrosoftDocs/mslearn-dotnet-cloudnative/main/dotnet-docker/Products/wwwroot/images/@product.ImageUrl" /></td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }
    private List<Product>? products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var userIdString = await AuthenticationService.GetUserIdAsync();

        if (Guid.TryParse(userIdString, out var userId))
        {
            products = await CatalogService.GetProductsByUserId(userId);
        }
        else
        {
            Console.WriteLine("User not found or an error occurred.");
        }
    }
}